.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  display: block;
  padding-left: 16px;
  padding-right: 16px;
}

.maxWidthXs {
  max-width: 444px;
}

.maxWidthSm {
  max-width: 600px;
}

.maxWidthMd {
  max-width: 960px;
}

.maxWidthLg {
  max-width: 1280px;
}

.maxWidthXl {
  max-width: 1920px;
}

.disableGutters {
  padding-left: 0;
  padding-right: 0;
}

